<h1>Arubaito</h1>
<h3>Nós podemos te ajudar a conseguir emprego nas seguintes empresas:</h3>


<% if current_user = 'admin' %>
    <%= link_to 'Registrar nova Empresa', new_company_path %>
<% end %>
<%= render partial: 'shared/menu' %>
